{% extends 'school_app/base.html' %}

{% block title %}View Quizzes - School Management System{% endblock %}

{% block content %}
<div class="container">
    <h2>Quizzes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Module</th>
                <th>Quiz</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in student_quizzes %}
            <tr>
                <td>{{ quiz.module.module_name }}</td>
                <td>{{ quiz.quiz_name }}</td>
                <td>{{ quiz.answer }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}