{% extends 'school_app/base.html' %}

{% block title %}View Attendance - School Management System{% endblock %}

{% block content %}
<div class="container">
    <h2>Attendance for {{ student.name }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Attendance (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for att in student_attendance %}
            <tr>
                <td>{{ att.subject }}</td>
                <td>{{ att.attendance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}